html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 100%;
}

/* Header */

.header {
    width: 100%;
}

.color-blur {
    position: absolute;

    z-index: 0;
}

.top-line {
    padding: 2% 6%;
    position: absolute;
    margin-left: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 700px;
    
    display: flex;
    align-items: center;

    width: 115px;
    height: 36px;
}

.logo__title {
    margin-left: 12px;

    color: #1B1C57;
    font-size: 16px;
    font-weight: 700;
}

.nav {
    width: 250px;
}

.nav__button {
    margin-right: 20px;

    width: 96px;
    height: 34px;

    background-color: rgba(28,28,28,0);
    border: 1px solid lightgray;
    border-radius: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nav__button:hover {
    background-color: lightgray;
    text-decoration: underline;
    color: white;
}

.nav__button-link {
    text-align: center;

    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #F0F3FD;
    text-decoration: none;
}

.dop-link {
    padding: 0px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 34px;

    font-size: 14px;
    font-weight: 600;
    color: #F0F3FD;
    text-decoration: none;
    
    background-color: rgba(28,28,28,0);
    border-radius: 100px;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.dop-link:hover {
    background-color: lightgray;
    text-decoration: underline;
    color: white;
}

.dop-link__a {
    margin-right: 5px;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #F0F3FD;
}

.header__button {
    padding: 0px;
    margin-left: 50px;

    width: 117px;
    height: 56px;

    color: #047857;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 600;
    
    background-color: #D1FAE5;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.header__button:hover {
    background-color: #047857;
    color: white;
}

.basic-section {
    display: flex;
    padding: 0 6%;
}

.first-section {
    margin-top: 150px;
    margin-left: 100px;
}

.first-section__title {
    position: relative;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 40px;
    color: #1B1C57;
    z-index: 1;
    line-height: 50px;
}

.first-section__frame {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.first-section__label {
    font-size: 16px;
    font-weight: 400;
    color: #626687;
    line-height: 30px;
}

.search {
    margin: 30px 0;

    display: flex;
    align-items: center;
    width: 496px;
    height: 56px;
  
    border: 1px solid lightgray;
    border-radius: 100px;
}

.search__p {
    margin-left: 20px;
    margin-right: 105px;

    width: 210px;

    font-size: 14px;
    font-weight: 500;
    color: #888B97;

    outline: none;
    border: none;
}

.search__img {
    margin-left: 20px;
}

.search__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 109px;
    height: 48px;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;

    background-color: #10B981;
    border-radius: 100px;
    border: none;
}

.second-section {
    margin-left: 220px;
}

.logo-partnership__image {
    margin-top: 10px;
    margin-right: 30px;
}

.red-line {
    position: relative;
    right: 645px;
    bottom: 490px;
}

.orange-line {
    position: relative;
    bottom: 418px;
    right: 245px;
}

.blue-line {
    position: relative;
    right: 285px;
    bottom: 235px;
}

.green-container {
    width: 150px;
    position: relative;
    bottom: 365px;
    left: 240px;
}

.bottom-line {
    display: flex;
    position: relative;
    bottom: 180px;
    left: 30px;
}

.face {
    margin-top: 15px;
    display: flex;
    width: 50px;
}

.blond-woman {
    position: absolute;
    z-index: 0;
}

.man {
    position: relative;
    left: 28px;
    z-index: 1;
}

.brown-hair {
    position: relative;
    right: 65px;
    z-index: 2;
}

.cards {
    margin-right: 15px;
    margin-left: 0px;

    display: flex;
    align-items: center;
    
    width: 328px;
    height: 104px;

    background-color: #FFFFFF;
    border-radius: 40px;
}

.cards__title {
    color: #1B1C57;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.cards__lable {
    color: #68799F;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.cards-text {
    margin-top: 10px;
    margin-left: 110px;
    margin-bottom: 30px;
    line-height: 10px;
}

.second-cards {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 201px;
}

.second-cards-text {
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 10px;
}

.third-cards-text {
    margin-bottom: 15px;
    margin-left: 105px;

    line-height: 10px; 
}

.third-cards__image {
    margin-top: 15px;
    position: absolute;
}

/* Section Slider */

.slider {
    margin-bottom: 100px;
    margin-left: 190px;
}

.slider-top {
    margin-bottom: 40px;

    display: flex;
    align-items: center;

    width: 1280px;
}

.recommendation {
    width: 383px;
    height: 70px;
}

.recommendation-logo {
    display: flex;
    align-items: center;
}

.recommendation-logo__lable {
    margin-left: 10px;

    font-size: 14px;
    font-weight: 200;
    color: #f59e0b;
}

.recommendation__title {
    margin-top: 20px;
    margin-left: 40px;

    font-size: 32px;
    font-weight: 600;
    color: #1b1c57;
}

.nav-button {
    margin: 0 139px;
    display: flex;
}

.material-symbols-outlined {
    margin-right: 10px;
}

.nav-button__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 52px;

    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #888B97;
    font-size: 18px;

    border-radius: 100px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    transition: all ease 1.5s;
}

.nav-button__button_small-size {
    width: 119px;
    margin: 0 32px;
}

.nav-button__button_big-size {
    width: 175px;
}

.nav-button__button_color-green:hover {
    color: #10B981;

    background-color: #D1FAE5;
    border: none;
}

.nav-button__button_color-red:hover {
    color: #ef4444;

    background-color: #fee2e2;
    border: none;
}

.nav-button__button_color-blue:hover {
    color: #1d4ed8;

    background-color: #dbeafe;
    border: none;
}

.side-button {
    width: 150px;
}

.side-button_button {

    width: 60px;
    height: 52px;

    color: #3C4563;
    font-size: 26px;

    background-color: #e0e3eb;
    border-radius: 100px;
    border: none;

    transition: all ease 1.5s;
}

.side-button_button:hover {
    color: #ffffff;
    background-color: #10B981;
}

.side-button__button_retreat {
    margin-right: 16px;
}

.hero-cards {
    display: flex;
    overflow-x: scroll;
}

.hero-cards::-webkit-scrollbar {
    display: none;
}

.hero-card {
    margin-left: 40px;

    width: 340px;
    height: 552px;
}

.card-image__button{
    position: relative;
    bottom: 52px;
    left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 111px;
    height: 34px;

    font-family: 'Lexend', sans-serif;
    font-size: 14px;

    border-radius: 100px;
    border: none;
}

.card-image__button_background-red-color {
    color: #ef4444;
    background-color: #fee2e2;
}

.card-image__button_background-red-color:hover {
    color:  #fee2e2;
    background-color: #ef4444;
}

.card-image__button_background-blue-color {
    color: #1d4ed8;
    background-color: #dbeaee;
}

.card-image__button_background-blue-color:hover {
    color: #dbeaee;
    background-color: #1d4ed8;
}

.card-image__button_background-green-color {
    color: #047857;
    background-color: #D1FAE5;
}

.card-image__button_background-green-color:hover {
    color: #D1FAE5;
    background-color: #047857;
}

.background-green-color {
    color: #047857;
    background-color: #D1FAE5;
}

.background-green-color:hover {
    color: #D1FAE5;
    background-color: #047857;
}


.card-image__button_big-size {
    width: 135px;
}

.card-image__button_medium-size {
    width: 130px;
}

.hero-card__category {
    font-size: 24px;
    color: #3C4563;
}

.hero-card__price {
    margin: 8px 0 24px;

    font-size: 20px;
    color: #3c4563;
}

.person {
    display: flex;
    align-items: center;
}

.person-name {
    margin-left: 10px;
}

.person-name__full-name {
    font-size: 18px;
    color: #0e1735;
}

.person-name__place {
    margin-top: 5px;

    font-size: 14px;
    color: #888b97;
}

/* Section Find */

.blur {
    position: absolute;
    z-index: -100;
}

.section-title {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 424px;
    
    line-height: 40px;
    text-align: center;
}

.section-title__label {
    margin: 0;
    height: 40px;

    color: #F59E0B;
    font-size: 14px;
    font-weight: 500;
}

.title {
    margin-top: 0px;

    color: #1B1C57;
    font-size: 32px;
    font-weight: 600;
}

.section-title__button {
    margin-top: 20px;
    
    width: 118px;
    height: 46px;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;

    background-color: #10B981;
    border: none;
    border-radius: 100px;
}

.section-title__button:hover {
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

.section-sale {
    margin: 0 auto;
    display: flex;
    width: 1180px;
}

.secondary-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    width: 572px;
    height: 148px;
    margin-bottom: 30px;

}

.card__about {
    margin-left: 20px;
}

.basic-card {
    margin: 0 auto;
}

.card-person {
    display: flex;
    align-items: center;
    height: 32px;
}

.person_retreat {
    margin-top: 20px;
}

.time {
    display: flex;
    align-items: center;
    height: 24px;
}

.card__image {
    margin: 0 auto;
}

.person__name {
    margin-left: 10px;

    color: #3C4563;
    font-size: 14px;
    font-weight: 400;
}

.card-way {
    color: #1B1C57;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin: 10px 0;
}

.card-way_size {
    font-size: 24px;
    margin: 10px auto;
}

.label {
    font-size: 14px;
    font-weight: 400;
    color: #626687;
    line-height: 20px;
    margin-bottom: 20px;
}

.time__date {
    margin-left: 10px;

    color: #888B97;
    font-size: 14px;
    font-weight: 400;
}

/* Subscribe */

.subscribe {
    margin: 100px auto 200px;

    width: 1200px;
    height: 312px;
}

.subscribe-title {
    position: absolute;
    margin: 80px 350px 0;

    text-align: center;
}

.subscribe__image {
    position: absolute;
    z-index: -100;
}

.subscribe-search {
    margin: 30px auto;

    display: flex;
    align-items: center;

    width: 496px;
    height: 54px;

    border-radius: 100px;
    background-color: #FFFFFF;
}

   .subscribe-search__email {
    margin-left: 10px;
    margin-right: 10px;

    width: 300px;

    font-size: 14px;
    font-weight: 500;
    color: #888B97;

    outline: none;
    border: none;
}

.subscribe-search__img {
    margin-left: 20px;
}

.subscribe-search__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 129px;
    height: 46px;

    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    background-color: #10B981;
    cursor: pointer;
}

.subscribe-search__button:hover {
    background-color: lightgreen;
    color: black;
}

.subscribe-image__chair {
    position: relative;
    left: 44px;
    top: 28px;
}

.subscribe-image__guy {
    position: relative;
    top: 50px;
    right: 230px
}

.subscribe-image__mini-chair {
    position: relative;
    top: 147px;
    left: 972px
}

.subscribe-image__castle {
    position: relative;
    top: 128px;
    left: 45px
}

.subscribe-image__window {
    position: relative;
    top: 10px;
    left: 700px
}

.subscribe-image__beauty-girl {
    position: relative;
    top: 70px;
    left: 752px
}

.subscribe-image__diana {
    position: relative;
    top: 150px;
    right: 475px;
}

.subscribe-image__courtney {
    position: relative;
    top: 122px;
    left: 300px;
}

/* Footer */

.footer {
    padding: 0 6%;
    margin-left: 100px;

    display: flex;
} 

.logo-footer {
    margin-right: 500px;
    margin-bottom: 20px;
}

.footer__img {
    position: absolute;
}

.bottom-ball {
    left: 1020px;
    top: 2900px;
    z-index: 1;
}

.right-ball {
    left: 1225px;
    top: 2835px;
    z-index: 0;
}

.info__label {
    font-size: 18px;
    font-weight: 600;
}

.footer__title {
    font-size: 14px;
    color: #888B97;
    line-height: 25px;
    font-weight: 400;
}

.info__footer {
    margin-top: 20px;
}

.info__footer:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.communication {
    display: flex;
    align-items: center;
}

.fa-brands {
    margin-right: 40px;
    margin-top: 40px;

    cursor: pointer;
    color: #3C4563;
}

.fa-brands:hover {
    color: black;
}

.info {
    margin-right: 70px;
    z-index: 100;
}

/* Large Devices, Wide Screens */

@media screen and (max-width: 1521px) {
    .second-section {
        margin-left: 210px;
    }

    .logo {
        margin-left: 0px;
        margin-right: 650px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1840px) {
    .red-line {
        left: 82px;
        bottom: 590px;
    }

    .orange-line {
        bottom: 525px;
        left: 480px;
    }

    .green-container {
        bottom: 470px;
    }

    .blue-line {
        bottom: 340px;
        left: 440px;
    }

    .bottom-line {
        width: 697px;
        bottom: 250px;
    }

    .cards {
        margin-right: 0;
    }

    .second-cards {
        margin: 0 25px;
    }

    .third-cards {
        width: 118px;
    }

    .top-line {
        margin-left: 0px;
        width: 1340px;
    }

    .first-section {
        margin-left: 0px;
    }

    .slider {
        margin-left: 86px;
    } 

    .footer {
        padding: 0% 0%;
    }

    .bottom-ball {
        left: 870px;
        top: 2950px;
    }

    .right-ball {
        left: 1110px;
        top: 2880px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1439px) {

    .top-line {
        padding: 2% 0%;
    }

    .basic-section {
        padding: 0% 0%;
    }

    .logo {
        margin-right: 500px;
    }

    .second-section {
        margin-left: 100px;
    }

    .slider {
        margin-left: 100px;
    }

    .footer {
        padding: 0% 0%;
    }

    .nav-button {
        margin: 0 60px 0 30px;
    }
}

@media only screen and (max-width: 1280px) {

    .top-line {
        padding: 2% 0%;
    }

    .logo {
        margin-right: 500px;
    }

    .basic-section {
        padding: 0% 0%;
    }

    .second-section {
        margin-left: 50px;
    }

    .slider {
        margin-left: 100px;
    }

    .nav-button {
        margin: 0 70px;
    }

    .footer {
        padding: 0% 0%;
    }

    .info {
        margin-right: 50px;
    }

    .subscribe {
        margin: 100px 30px;
    }

    .section-title {
        margin: 0 auto;

        width: 100%;
    }

    .section-sale {
        margin: 30px auto;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1279px) {

    .logo {
        margin-right: 360px;
    }

    .logo__title {
        font-size: 14px;
    }

    .nav {
        width: 185px;
    }

    .nav__button {
        margin-right: 10px;

        width: 80px;
    }

    .nav__button-link {
        font-size: 13px;
    }

    .dop-link {
        width: 80px;
    }

    .dop-link__a {
        font-size: 12px;
    }

    .header__button {
        margin-left: 30px;

        width: 100px;
    }

    .first-section__title {
        font-size: 30px;
        font-weight: 900;
    }

    .first-section {
        margin-top: 120px;
    }

    .first-section__label {
        font-size: 13px;
    }

    .search {
        width: 400px;
    }

    .search__img {
        margin-left: 10px;
    }

    .search__p {
        margin-left: 10px;
        margin-right: 40px;

        width: 200px;

        font-size: 12px;
    }

    .logo-partnership__image {
        margin-right: 10px;
    }

    .recommendation__title {
        font-size: 28px;
    }

    .recommendation {
        width: 320px;
    }

    .nav-button {
        margin: 0 30px;
    }

    .nav-button__button {
        width: 110px;

        font-size: 16px;
    }

    .nav-button__button_small-size {
        width: 110px;
        margin: 0 20px;
    }
    
    .nav-button__button_big-size {
        width: 130px;
    }

    .title {
        font-size: 28px;
    }

    .section-sale {
        display: block;
    }

    .secondary-card {
       margin: 0 250px;

       margin-right: 0;
    }

    .basic-card {
        margin: 0 250px;

        width: 560px;
    }

    .section-sale {
        margin: 0;

        width: 100%;
    }

    .section-title  {
        margin-bottom: 50px;
    }

    .subscribe {
        margin: 100px 0;
    
        width: 800px;
        height: 312px;
    }

    .subscribe__image {
        width: 100%;
    }

    .subscribe-title {
        position: absolute;
        margin: 80px 300px 0;
    }
    
    .subscribe-image__chair {
        position: relative;
        left: 44px;
        top: 28px;
    }
    
    .subscribe-image__guy {
        position: relative;
        top: 50px;
        right: 230px
    }
    
    .subscribe-image__mini-chair {
        position: relative;
        top: 147px;
        left: 820px
    }
    
    .subscribe-image__castle {
        position: relative;
        top: 128px;
        left: 35px
    }
    
    .subscribe-image__window {
        position: relative;
        top: 10px;
        left: 600px
    }
    
    .subscribe-image__beauty-girl {
        position: relative;
        top: 70px;
        left: 600px
    }
    
    .subscribe-image__diana {
        position: relative;
        top: 150px;
        right: 475px;
    }
    
    .subscribe-image__courtney {
        position: relative;
        top: 122px;
        left: 200px;
    }

    .footer__title {
        font-size: 12px;
    }

    .logo-footer {
        margin-right: 300px;
    }

    .info {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .nav__button {
        width: 80px;

        background-color: #10B981;
        border: none;
    }

    .nav__button:hover {
        background-color: lightgreen;
        text-decoration: none;
        color: black;
    }

    .nav__button-link:hover {
        color: black;
    }

    .dop-link {
        width: 80px;

        background-color: #10B981;
        border: none;
    }

    .dop-link:hover {
        background-color: lightgreen;
        text-decoration: none;
    }

    .dop-link__a:hover {
        color: black;
    }

    .basic-section {
        display: flex;
        flex-direction: column;
    }

    .second-section {
        margin-left: 25px;
        margin-top: 25px;
    }

    .bottom-line {
        display: none;
    }

    .slider-top {
        width: 100%;
    }

   .subscribe {
        width: 100% ;
   }

   .footer__img {
    display: none;
   }

   .house {
    width: 100%;
   }
}

@media screen and (max-width: 1024px) {

    .top-line {
        margin-left: 5px;

        width: 100%;
    }

    .logo {
        margin-right: 100px;
    }

    .nav {
        width: 205px;
    }

    .nav__button {
        width: 80px;

        background-color: #10B981;
        border: none;
    }

    .nav__button:hover {
        background-color: lightgreen;
        text-decoration: none;
        color: black;
    }

    .nav__button-link:hover {
        color: black;
    }

    .dop-link {
        width: 80px;

        background-color: #10B981;
        border: none;
    }

    .dop-link:hover {
        background-color: lightgreen;
        text-decoration: none;
    }

    .dop-link__a:hover {
        color: black;
    }

    .slider {
        margin-left: -25px;
    }

    .recommendation {
        margin-left: 40px;

        width: 250px;
    }

    .recommendation__title {
        font-size: 25px;
    }

    .nav-button {
        margin: 0 20px;
    }

    .nav-button__button {
        width: 100px;
        font-size: 15px;
    }

    .nav-button__button_big-size {
        width: 120px;
    }

    .nav-button__button_small-size {
        margin: 0 10px;
    }

    .side-button {
        width: 100px;
    }

    .side-button_button {
        width: 45px;
        font-size: 20px;
    }

    .side-button__button_retreat {
        margin-right: 5px;
    }

    .section-sale {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .subscribe {
        margin: 100px 0;
    
        width: 100%;
        height: 312px;
    }

    .subscribe__image {
        width: 100%;
    }

    .subscribe-image__beauty-girl {
        display: none;
    }

    .subscribe-image__castle {
        display: none;
    }

    .subscribe-image__courtney {
        display: none;
    }

    .subscribe-image__diana {
        display: none;
    }

    .subscribe-image__guy {
        display: none;
    }

    .subscribe-image__mini-chair {
        display: none;
    }

    .subscribe-title {
        position: absolute;
        margin: 20px 200px 0;
    
        text-align: center;
    }

    .title {
        font-size: 25px;
    }

    .subscribe-search {
        width: 350px;
    }

    .subscribe-search__button {
        width: 100px;
        
        font-size: 11px;
    }
    
    .subscribe-search__email {
        margin-left: 10px;

        width: 200px;

        border: none;
        outline: none;
    }

    .subscribe-image__window {
        position: relative;
        left: 580px
    }

    .footer {
        margin-left: 5px;
    }

    .footer__title {
        font-size: 12px;
    }

    .logo-footer {
        margin-right: 200px;
    }
}

@media screen and (max-width: 720px) {

    .color-blur {
        width: 100%;
    }

    .slider-top {
        width: 100%;
    }

    .top-line {
        width: 100%;
    }

    .second-section {
        display: none;
    }

    .first-section {
        margin: 270px auto 30px;

        width: 100%;
    }

    .logo {
        margin-right: 20px;
    }

    .header__button {
        margin-left: 10px;
    }

    .recommendation {
        display: none;
    }
    
    .section-sale {
        width: 100%;
    }

    .subscribe-image__chair {
        display: none;
    }

    .subscribe-image__window {
        display: none;
    }

    .subscribe-title {
        position: relative;
        right: 60px;
    }

    .subscribe {
        margin-bottom: 0px ;
    }

    .footer__img {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .color-blur {
        width: 100%;
    }

    .blur {
        width: 100%;
    }

    .basic-card__image {
        width: 100%;
    }

    .nav {
        width: 80px;

        display: flex;
        flex-direction: column;
    }

    .top-line {
        margin-left: 0;

        display: flex;
        flex-direction: column;
    }

    .section-sale {
        margin-left: 0;
    }

    .nav__button {
        margin-top: 10px;
    }

    .dop-link {
        margin: 10px 0 10px 5px;
    }

    .header__button {
        position: relative;
        top: 0px;
        right: 0px;

        height: 45px;
    }

    .first-section__title {
        font-size: 35px;
    }

    .first-section__label {
        font-size: 12px;
    }

    .logo-partnership__image {
        margin-right: 2px;
    } 

    .search {
        width: 350px;
    }

    .search__p {
        margin-left: 5px;
        margin-right: 5px;

        width: 180px;

        font-size: 12px;
    }

    .slider-top {
        display: flex;
        flex-direction: column;

        width: auto;
    }

    .nav-button__button {
        margin-bottom: 10px;
    }

    .card__about {
        display: none;
    }

    .card {
        margin-left: 0px;

        width: 100%;
    }

    .card-way_size {
        font-size: 16px;
    }

    .label {
        font-size: 8.5px;
    }

    .subscribe {
        display: none;
    }

    .footer {
        margin-top: 50px;
    }

    .info {
        display: none;
    }

    .footer__img {
        display: none;
    }

    .footer__title {
        font-size: 14px;
    }

    .fa-brands {
        margin: 30px auto;
    }
}

@media screen and (max-width: 320px)  {
    .logo-partnership {
        width: 100%;

        text-align: center;
    }

    .logo-partnership__image {
        margin-right: 25px;
    }

    .search {
        width: 100%;
    }
}

    .fa-brands {
        margin: 30px auto;
    }
}
